/*** Fonts ***/
/* red-hat-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/red-hat-display-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/red-hat-display-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-display-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/red-hat-display-v19-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*** Variables ***/
:root {
  /*** Primitives ***/
  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;
  --color-purple-600: #855fb1;
  --color-purple-300: #d9b8ff;
  --color-slate-900: #28283d;
  --color-white: #fafafa;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;

  /*** Colors ***/
  --bg-body-color: var(--color-white);
  --text-body-color: var(--color-slate-600);

  /*** Fonts ***/
  --font-family: 'Red Hat Display', sans-serif;
}

/*** Reset styles ***/
html {
  scroll-behavior: smooth;
}

/*** Reset styles ***/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
input,
textarea {
  outline: none;
}

/*** Base Styles ***/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-slate-900);
}
body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-body-color);
  background-color: var(--bg-body-color);
}
main {
}
.container {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 32px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 44px;
  }
}
@media screen and (min-width: 991px) {
  .container {
    max-width: 1208px;
  }
}
/*** Visually hide element, but keep visible for search engine ***/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
  padding: 16px 40px;
  min-height: 56px;
  span {
    margin-left: 4px;
  }
  &.is-green {
    span {
      color: var(--color-cyan-300);
    }
    background: var(--color-cyan-600);
  }
  &.is-purple {
    span {
      color: var(--color-purple-300);
    }
    background: var(--color-purple-600);
  }
}

/*** Header Styles ***/
.header {
  overflow: hidden;
  padding-top: 48px;
  padding-bottom: 32px;
  text-align: center;
}
.header-logo {
  margin: 0 auto;
  margin-bottom: 64px;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 24px;
}
.header-avatars {
  display: flex;
  justify-content: center;
  img {
    min-width: 433px;
  }
}
.grid-child {
  &:last-child {
    display: none;
  }
}
.header-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  color: var(--color-slate-900);
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 10ch;
}
.header-subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-slate-600);
  margin-bottom: 24px;
}
.header-cta-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

/*** Section Features ***/
.section-features {
  padding-top: 32px;
  padding-bottom: 64px;
}
.section-counter {
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}
.features-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 64px;
}
.features-header {
  text-align: center;
}
.title-caption {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--color-cyan-600);
  margin-bottom: 16px;
}
.features-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.1;
  color: var(--color-slate-900);
  margin-bottom: 32px;
}
.features-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.features-grid-child {
  overflow: hidden;
  border-radius: 8px;
}

/*** Footer ***/
.footer {
  padding-top: 64px;
  text-align: center;
  color: var(--color-white);
}

.section-counter {
  &.is-footer {
    margin: 0 auto -28px;
  }
}

.footer-inner {
  padding: 64px 0;
  background-image: url('../images/mobile/footer@2x.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.1;
  color: var(--color-white);
  margin-bottom: 24px;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 64px;
  }
  .header-avatars {
    img {
      min-width: 820px;
    }
  }
  .header-title {
    font-size: 48px;
  }
  .header-subtitle {
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Section Features */
  .section-features {
    padding-top: 56px;
  }
  .features-header {
    margin: 0 auto;
    max-width: 504px;
  }
  .title-caption {
    font-size: 14px;
    letter-spacing: 0.29em;
  }
  .features-title {
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
  }

  /* Footer */
  .footer-inner {
    padding: 64px 0;
    background-image: url('../images/tablet/footer@2x.webp');
  }
  .footer-title {
    font-size: 36px;
  }
  .footer-subtitle {
    max-width: 504px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 991px) {
  .header {
    padding-top: 80px;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  .grid-child {
    display: flex;
    &:first-child {
      justify-content: left;
      margin-left: -26px;
    }
    &:last-child {
      margin-right: -26px;
      display: flex;
      justify-content: right;
      img {
        flex-shrink: 0;
      }
    }
  }
  .header-avatars {
    display: block;
    & img {
      min-width: auto;
    }
  }
  .header-title {
    font-size: 64px;
  }
  .header-subtitle {
    font-size: 18px;
  }
  .button {
    transition: background 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    &.is-purple:focus,
    &.is-purple:hover {
      background-color: #b18bdd;
    }
    &.is-green:hover,
    &.is-green:focus {
      background-color: #71c0d4;
    }
  }
  /* Footer */
  .footer-inner {
    padding: 112px 0;
    background-image: url('../images/tablet/footer@2x.webp');
  }
  .footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    text-align: left;
  }
  .footer-title {
    font-size: 40px;
  }
  .footer-subtitle {
    font-size: 18px;
    justify-self: center;
  }
  .footer .button {
    justify-self: end;
  }
}
@media screen and (min-width: 1512px) {
  .grid-child {
    &:first-child {
      justify-content: right;
      margin-left: none;
    }
    &:last-child {
      margin-right: none;
      justify-content: left;
    }
  }
  .footer-inner {
    background-position: center;
  }
  .footer .container {
    gap: 32px;
  }
}
